@import "tailwindcss";

:root {
--bg-color: #efefef ;
}


body {
  background-color: var(--bg-color);
}

.fix-height {
  min-height: calc(100vh - 148px);
}
.overflow-height {
  height: calc(100vh - 148px);
}
.loader {
    width: 68px;
    height: 68px;
    border: 5px solid #FFF;
    border-bottom-color: #6E11B0;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
/* *{
  padding: 0; 
  margin: 0;
  box-sizing: border-box;
} */

button:disabled{
  cursor: not-allowed
}
